<body>
  <div class="main">
    <slot />
  </div>
</body>

<style>
  body {
    font-size: 16px;
    color: #00050e;
    font-family: sans-serif;
    font-weight: 400;

    blockquote {
      font-size: 13px;
      padding: 10px;
      border-radius: 10px;
      background-color: #f9f9f9;
      border: 1px solid #00050e;
    }
    span {
      font-size: 12px;
    }
  }

  .main {
    margin: 0 15%;
  }
</style>
