---
import { Image } from 'astro:assets';
import yrLogo from '../../public/yr.png';
---

<body>
  <a aria-label="Home" class="yr-logo" href={`${import.meta.env.BASE_URL}`}>
    <Image src={yrLogo} alt="Yr logo" />
  </a>
  <div class="main">
    <slot />
  </div>
</body>

<style>
  body {
    font-size: 16px;
    color: #00050e;
    font-family: sans-serif;
    font-weight: 400;

    blockquote {
      font-size: 13px;
      padding: 10px;
      border-radius: 10px;
      background-color: #f9f9f9;
      border: 1px solid #00050e;
    }
    span {
      font-size: 12px;
    }
  }

  .main {
    margin: 0 15%;
  }

  .yr-logo {
    position: absolute;
    left: 5%;
    top: 5%;
  }
</style>
